p, span {
    font-size: 1em;
}

.p1 {
 background-color: blue;
 width: 400px;
 height: 300px;
}

.p2 {
    background-color: aqua;
    padding:40px;
    margin: 50px;
    border: solid black 5px;
}

.s1 {
    background-color: orange;
    /* Sur les éléments de type inline définir une largeur et une hauteur via les propriétés width et height n'a aucun effet. J'utilise donc pour "redessiner" ma boîte les propriétés padding et margin */
    /*width: 150px;
    height: 50px;*/
    padding: 80px;
    /* Pour éviter le chevauchement de mon span sur mon p, je modifie la valeur de ma propriété display et lui indique de se comporter "comme un block" sur sa hauteur c'est-à-dire de se mettre "à la suite" de l'élément précédent. Mon élément conserve tout de même en largeur les spécificités du inline.  */
    display: inline-block;
}

.s2 {
    background-color: yellow;
    padding: 20px;
}